<!--The content below is only a placeholder and can be replaced.-->
<!--div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Podcast Logo" src="https://s3-us-west-2.amazonaws.com/anchor-generated-image-bank/production/podcast_uploaded400/15715735/15715735-1623041286517-e89b64e016af9.jpg"/></div>
  <div style="text-align: center;">
    <section class="section">
      <div class="container is-fluid">
        <div class="notification is-primary"></div>
        <h1 class="title">
        </h1>
        <p class="subtitle">
          <h3> Checkout <strong><a href="https://linktr.ee/conjointment">all Podcast Links here</strong>.</a></h3>
          <iframe src="https://open.spotify.com/embed/show/6PiLcX9tL0t6WXPbVzllyz" width="80%" height="232" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </p>
      </div>
      </div>
    </section>
</div-->

<section class="section">
  <div class="container">
    <h1 class="title">
      Welcome to {{ title }}!
    </h1>
    <p class="subtitle">
      <!--h3> Checkout <strong><a href="https://linktr.ee/conjointment">all Podcast Links here</strong>.</a></h3-->
    </p>
  </div>
  <div class="field is-grouped">
    <p class="control">
      <a class="button">
        <span class="icon">
          <i class="fas fa-twitter" aria-hidden="true"></i>
        </span>
        <span>Tweet</span>
      </a>
    </p>
  </div>
  <nav class="panel">
    <p class="panel-heading">
      Repositories
    </p>
  <div class="container is-fluid">
    <div class="card">
      <div class="card-content">
      <iframe src="https://open.spotify.com/embed/show/6PiLcX9tL0t6WXPbVzllyz" width="100%" height="232" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    </div>
    <div class="card">
      <div class="card-content">
        <iframe src="https://open.spotify.com/embed/episode/35NnscF9gW2niXGPXw3E0G" width="100%" height="232" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>  </div>
    </div>
  </div>
  </nav>
</section>

