<!-- ALL Codes in Section-->
<section class="section">
  <div class="container">
    <h1 class="title">
      {{ title }}!
    </h1>
    <p class="subtitle">
      Aspects of Artificial Intelligence surrounding Philosophy and Future of Humanity.
    </p>
    <figure class="image is-128x128">
      <img src="https://s3-us-west-2.amazonaws.com/anchor-generated-image-bank/production/podcast_uploaded_nologo400/15715735/15715735-1623041286535-8d4caee74de16.jpg">
    </figure>
  </div>
  <div class="tabs is-centered">
    <ul>
      <li class="is-active">
        <a href="https://twitter.com/hrirkslab">
          <span class="icon is-small"><i class="fas fa-twitter" aria-hidden="true"></i></span>
          <span>Twitter</span>
        </a>
      </li>
      <li>
        <a href="https://facebook.com/hrirkslab">
          <span class="icon is-small"><i class="fas fa-facebook" aria-hidden="true"></i></span>
          <span>Facebook</span>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/hrirkslab">
          <span class="icon is-small"><i class="fas fa-instagram" aria-hidden="true"></i></span>
          <span>Instagram</span>
        </a>
      </li>
      <li>
        <a href="https://tiktok.com/@hrirkslab">
          <span class="icon is-small"><i class="fa-brands fa-tiktok" aria-hidden="true"></i></span>
          <span>Tiktok</span>
        </a>
      </li>
      <li>
        <a href="https://anchor.fm/hrirkslab">
          <span class="icon is-small"><i class="fa-brands fa-tiktok" aria-hidden="true"></i></span>
          <span>Anchor</span>
        </a>
      </li>
      <li>
        <a href="https://linktr.ee/conjointment">
          <span class="icon is-small"><i class="fa-brands fa-tiktok" aria-hidden="true"></i></span>
          <span>Linktree</span>
        </a>
      </li>
    </ul>
  </div>
  <nav class="panel">
    <p class="panel-heading">
      Aspects of Music, AI and Crypto with Nicolas Schwarz #4
    </p>
    <div class="card">
      <div class="card-content">
      <iframe src="https://open.spotify.com/embed/show/6PiLcX9tL0t6WXPbVzllyz" width="100%" height="232" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    </div>
    </nav>
    <nav class="panel">
      <p class="panel-heading">
        Physics of Lasers and Fantasy with Dr. Achut Giree #3
      </p>
    <div class="card">
      <div class="card-content">
        <iframe src="https://open.spotify.com/embed/episode/35NnscF9gW2niXGPXw3E0G" width="100%" height="232" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>  </div>
    </div>
  </nav>
</section>

