/* You can add global styles to this file, and also import other style files */
my-content{
  width: 60%;
}
/* Dashed border */
hr.dashed {
  border-top: 0.3px dashed #eee;
}

/* Dotted border */
hr.dotted {
  border-top: 0.1px dotted #eee;
}

/* Solid border */
hr.solid {
  border-top: 0.1px solid #eee;
  border-bottom: 0.1px solid #eee;
  width: 100%;
  align-self: center;
  align-items: center;
  align-content: center;
  height: 25px;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

div-solid{
  border-top: 0.1px solid #eee;
  border-bottom: 0.1px solid #eee;
  width: 100%;
  align-self: center;
  align-items: center;
  align-content: center;
  height: 25px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
