/* You can add global styles to this file, and also import other style files */
my-content{
  width: 60%;
}
/* Dashed border */
hr.dashed {
  border-top: 0.3px dashed #eee;
}

/* Dotted border */
hr.dotted {
  border-top: 0.1px dotted #eee;
}

/* Solid border */
hr.solid {
  border-top: 0.1px solid #eee;
  border-bottom: 0.1px solid #eee;
  width: 100%;
  align-self: center;
  align-items: center;
  align-content: center;
  height: 25px;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

div-solid{
  border-top: 0.1px solid #eee;
  border-bottom: 0.1px solid #eee;
  width: 100%;
  align-self: center;
  align-items: center;
  align-content: center;
  height: 25px;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
