/* You can add global styles to this file, and also import other style files */
my-content{
  width: 60%;
}
/* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 0.3px solid #bbb;
  width: 98%;
  align-self: center;
  align-items: center;
  align-content: center;
  height: 5px;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

div-solid{
  height: 10px;
  border: 1px solid rgb(117, 14, 14);
  width: 95%;
}
